{% extends 'base.html' %}

{% block title %}
Запись на консультацию
{% endblock %}

<main>
	<div class="content">
        {% block main %}
            <h2>Запись на консультацию на дату {{ date }}.</h2><br>

                 {% if column_names and records %}
                <table>
                    <tr>
                        <th>Часы</th>
                        {% for column_name in column_names[1:] %}
                            <th>{{ column_name }}</th>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td></td>
                        {% for record in records %}
                            <td>{{ record }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                         <td></td>
                        {% for record in records %}
                            <td>
                                <label class="container">
                                    <input type="checkbox" value="1111" checked="checked">
                                <span class="checkmark"></span>
                                </label>
                            </td>
                        {% endfor %}
                    </tr>
                </table>
            {% else %}
                <p>На данный день нет записи.</p>
            {% endif %}
            </div>
        {% endblock %}

	<section>
		{% block section %}
			<br><br>
		{% endblock %}
	</section>
</main>
