{% extends 'base.html' %}

{% block title %}
Консультация психолога
{% endblock %}

<main>
	<div class="content">
		{% block main %}
			<h1>Консультации профессионально.</h1><br><br>
			<h3>У вас есть проблемы в жизни или в делах?</h3>
			<h2>Мы вам поможем!</h2><br>
			<h4>Получите максимально качественную консультацию. Мы поможем вам справиться с проблемами.
			<br>Это программа записи на консультацию к психологу. Чтобы записаться на приём добавьте ваши данные.	</h4><br><br>
			<h3>by @LoraBond</h3>
		{% endblock %}
	</div>

	<section>
		{% block section %}
			<br><br>
		{% endblock %}
	</section>



</main>
<!-- partial -->
  <script  src="./script.js"></script>

