<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Консультация психолога</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<!-- partial:index.partial.html -->
<div class="navbar">

	<div class="logo">
		<h1>LORA BOND</h1>
	</div>


	<ul class="links">
		<li><a href="/">Домой</a></li>
		<li><a href="enter">Вход для клиентов</a></li>
		<li><a href="reg">Регистрация</a></li>
		<li><a href="#">Свяжитесь с нами</a></li>
	</ul>


	<div class="right">
<!--		<button type="button"><a href="https://t.me/Larisa_Yk">Telegram</a></button>-->
		<button><a href="https://t.me/Larisa_Yk">Telegram</a></button>
	</div>

	<div class="toggle">
		<div class="line1"></div>
		<div class="line2"></div>
		<div class="line3"></div>
	</div>


</div>
<main>
	<div class="content">
    <form method="post">
      <label for="date"> Введите дату когда вы хотите записаться:</label>
      <input type="date" id="date" name="date">
      <input type="submit" value="Submit">
    </form><br>

<!--     <label class="container">Один-->
<!--        <input type="checkbox" checked="checked">-->
<!--        <span class="checkmark"></span>-->
<!--    </label>-->

<!--    <label class="container">Два-->
<!--        <input type="checkbox">-->
<!--        <span class="checkmark"></span>-->
<!--    </label>-->

<!--    <label class="container">Три-->
<!--        <input type="checkbox">-->
<!--        <span class="checkmark"></span>-->
<!--    </label>-->

<!--    <label class="container">Четыре-->
<!--        <input type="checkbox">-->
<!--        <span class="checkmark"></span>-->
<!--    </label>-->
    </div>

	<section>
		<br>		<br>
	</section>
</main>

</body>
</html>