{% extends 'base.html' %}

{% block title %}
Регистрация клиента
{% endblock %}

<main>
	<div class="content">
		{% block main %}
			<h1>Форма регистрации клиента</h1>
			<form method="post">
				<table>
					<tr>
						<td><label for="name">Имя:</label></td>
						<td><input type="text" id="name" name="name" placeholder="Введите имя" required><br></td>
					</tr>
					<tr>
						<td><label for="surname">Фамилия:</label></td>
						<td><input type="text" id="surname" name="surname" placeholder="Введите фамилию" required><br></td>
					</tr>
					<tr>
						<td><label for="age">Возраст:</label></td>
						<td><input type="text" id="age" name="age" placeholder="Возраст" required><br></td>
					</tr>
					<tr>
						<td><label for="phone">Телефон:</label></td>
						<td><input type="text" id="phone" name="phone" placeholder="+79876543211" required><br></td>
					</tr>
					<tr>
						<td><label for="email">Email:</label></td>
						<td><input type="email" id="email" name="email" placeholder="my@email.ru" required><br></td>
					</tr>

					<tr>
						<td><input type="submit" value="Зарегистрироваться"><td>
					<tr>
				</table>
			</form>
		{% endblock %}
    </div>

	<section>
		{% block section %}
			<br><br>
		{% endblock %}
	</section>
</main>
